<a href="https://www.who.int/health-topics/coronavirus" target="_blank">Click here for more information</a>
</div>
<footer class="footer bg-dark">
    <div class="container-fluid">
        <div class="socialIcon text-center">
            <h4>Designed and developed by :</h4>
        </div>
        <div class="socialIcon text-center">
            <h4>Vaibhav Gupta</h4>
        </div>
        <div class="row234">
            <div class="socialIcon text-center">
                <a href="https://www.facebook.com/vaibhavgupta317/" target="_blank">
                    <i class="fa fa-facebook-square fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/in/vaibhav-gupta-b7a025194/" target="_blank">
                    <i class="fa fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/Target-3" target="_blank">
                    <i class="fa fa-github fa-2x"></i>
                </a>
            </div>
        </div>
        <div class="text-white text-center">
            <p class="lastp"> &#169; copy All right Reversed.</p>
        </div>
    </div>
</footer>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>