<!doctype html>
<html lang="en">

<head>
    <title>Covid19 Status</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/partials/style.css">
    <link rel="shortcut icon" type="image/png" href="/partials/coronavirus.png">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar  navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Covid-19</a>
            <a href="/"><button type="button" class="btn btn-dark textSize">India Status</button></a>
            <a href="/world"><button type="button" class="btn btn-dark textSize">World Status</button></a>

        </nav>
        <div class="sectionLight">