<%- include('partials/header'); -%>

<div class="jumbotron">
  <h1 class="display-3">Welcome to our Campgrounds Page</h1>
  <p class="lead">View our hand-picked campgrounds from Ambikapur</p>
  <p><a class="btn btn-lg btn-primary" href="/campgrounds/new">Add New Campground</a></p>
</div>

<div class="row text-center">
  <% for(var i=0;i< campground.length;i++){ %>
  <div class="col-md-4 col-sm-6">
    <div class="img-thumbnail" style="margin-bottom: 2rem;">
      <img class="img-fluid float-left" src="<%= campground[i]["image"] %>">
      <div class="caption">
        <h4><%= campground[i]["name"] %></h4>
      </div>
    </div>
  </div>
  <% } %>
</div>

<%- include('partials/footer'); -%>